/* 盒模型，字体，尺寸基准 */
*, *:before, *:after {
    border: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: '微软雅黑', 'Microsoft Yahei', 'Vera Sans YuanTi', 'Yuanti SC', 'Comic San MS', monospace;

    font-size: 12px;
}

