/* 盒模型，字体，尺寸基准 */
*, *:before, *:after {
    border: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: 'Hiragino Sans GB', 'Comic San MS', '微软雅黑', 'Microsoft Yahei', sans-serif;
    font-weight: normal;
    font-size: 12px;
}

code {
    font-family: Monaco, monospace;
}

@media (max-device-width: 800px) {
    body {
        width: 800px;
        filter: blur(10px);
    }
}
