/* 盒模型，字体，尺寸基准 */
*, *:before, *:after {
    border: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: '圆体', 'Vera Sans YuanTi', 'Yuanti SC', 'Comic San MS', monospace;

    font-size: 12px;
}

.page-header {
    color: #fff;
    text-align: center;
    padding: 5rem 6rem;

    background: rgba(179,220,237,1);
    background: -moz-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -webkit-gradient(linear,left top, right bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
    background: -webkit-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: linear-gradient(135deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );

}

.project-name {
    font-size: 3.25rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.project-tagline {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

a {
    color: #1e6bb8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.75rem 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn + .btn {
    margin-left: 1rem;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

#resume-marker {
    font-size: 2em;
    position: absolute;
    top: 3em;
    right: 4em;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    font-weight: bold;
    cursor: pointer;
    background: #fff;
    color: #79a8ae;
    opacity: 0.5;

    transition: opacity 0.1s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

#resume-marker:hover {
    opacity: 1;
}

#resume {
    z-index: 9999;

    cursor: pointer;
    background: url("../../images/曹力升的个人简历.jpg") no-repeat center;
    background-size: contain;

    width: 1px;
    height: 1px;

    position: fixed;
    left: 0;
    top: 0;

    transform: rotateY(180deg);
    transition: all 1s;
}

#resume.show {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: auto;
    height: auto;

    transform: rotateY(0deg);
}

.main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
}
