/* 段落 */
.post-p {
    font-size: 1.5rem;
    text-indent: 2em;
    margin: 1em 0;
}

.post-p a {
    display: inline-block;
    font-size: 1rem;
    text-indent: 0;
    text-decoration: none;
    border-radius: 0.8em;
    border: solid 1px #121;
    padding: 0.3em 0.5em;
    background-color: rgba(220, 220, 220, 0.5);
}

.post-p a:hover {
    text-decoration: none;
    background-color: rgba(220, 220, 220, 1);
}

/* 带标题段落 */
.titled-post-p:before {
    content: attr(data-title);

    font-size: 1.5rem;
}

/* 带行标背景的段落 */
.bg-post-p {
    line-height: 1.5em;
    background: url("../../images/back.png") repeat;
    background-size: 6px 1.5em;
}

/* 提问段落 */
p.q {
    display: block;
    width: 100%;
    height: auto;
    font-size: 1.8rem;
    line-height: 2em;
    padding-left: 1em;
    background: #ffeeff;
}

p.q:before {
    content: '';

    background: linear-gradient(-90deg, #ffeeff 0, #eeddee 100%);

    font-size: 1rem;

    display: block;
    float: left;

    width: 2em;
    height: 100%;
}

p.a {
}

/* 列表 */
ol.post-l {
    list-style-type: decimal;
}

ol.post-l, ul.post-l {
    margin: 1em 0;
}

ol.post-l > li, ul.post-l > li {
    font-size: 1.3rem;
    list-style-position: inside;
}

ol.post-l p.post-p {
    font-size: 1.3rem;
    text-indent: 0;
}

/* 抽屉列表 */
ul.post-drawer-l > li {
    cursor: pointer;
}

ul.post-drawer-l > li:not(.active) {
    list-style: square inside url('../../images/eg_arrow_right.png');
}

ul.post-drawer-l > li.active {
    list-style: square inside url('../../images/eg_arrow_down.png');
}

ul.post-drawer-l > li > .hidden {
    display: none;
}

ul.post-drawer-l > li.active > .hidden {
    display: block;
}

/* 图片 */
img {
    max-width: 100%;
}

/* disqus_thread */
div#disqus_thread {
    margin-top: 3em;
}

/* image gallery */
ul.gallery {
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;

    height: 220px;
}

ul.gallery > li {
    width: 200px;
    height: 200px;

    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.3);
}

ul.gallery > li > img {
    width: 200px;
    height: 200px;
}

ul.gallery > li > img:hover {
    transform: scale(1.1);
}
