#tongji {
    visibility: hidden;

    position: fixed;
    right: 0;
    bottom: 0;
}

#tongji a {
    color: #eaffea;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#tongji a:first-child {
    border-top-left-radius: 10px;
}

#tongji a:last-child {
    border-top-right-radius: 10px;
}