/* 盒模型，字体，尺寸基准 */
*, *:before, *:after {
    border: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: 'Hiragino Sans GB', 'Comic San MS', '微软雅黑', 'Microsoft Yahei', sans-serif;
    font-weight: normal;
}

/* 字体 */
code {
    font-family: Monaco, monospace;
}

/* 字号, 不能指定，会破坏Angular版博客壳的字号设定 */
html {
    /*font-size: 10px;*/
}
