/* 操作按钮 */
.btns {
    float: right;

    font-size: 1.2rem;

    border: solid 1px rgba(0, 17, 0, .5);
    border-radius: 1em;

    margin-bottom: 0.5em;
}

.btns > .btn {
    display: inline-block;

    font-size: 1.2rem;
    padding: .5em 1em;

    background-color: #e3ffb3;

    cursor: pointer;
}

.btns > .btn:first-child {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.btns > .btn:last-child {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.btns > .btn:hover {
    background-color: #ddff88;
}

.btns > .btn.active {
    background-color: #ffdfb8;
}

.btns > .btn.active:hover {
    background-color: #ffe07b;
}

.btn + .btn {
    border-left: solid 1px rgba(0, 17, 0, .5);
}

/* 展示抽屉 */
.list-box {
    width: 100%;
    overflow-x: hidden;
}

ul.book-list-show {
    clear: both;
    width: 100%;
    list-style: none;
    font-size: 0;
}

ul.book-list-show > li {
    width: 100%;
    height: auto;

    display: none;
    float: left;

    font-size: 12px;
    opacity: 0;

    overflow: auto;

    transition: opacity 1s;
}

ul.book-list-show > li.active {
    opacity: 1;
}

ul.book-list-show > li:nth-child(2) {
    padding-left: 1rem;
    padding-right: 1rem;
}
