.bfc {
    width: 100%;
    height: auto;

    overflow: hidden;
}

ul.gallery {
    width: 100%;
    height: 500px;

    overflow: hidden;

    font-size: 0;

    transition: transform 1s;
}

ul.gallery > li {
    display: inline-block;

    width: 0;
    height: 500px;

    overflow: hidden;
}

.card {
    background-size: contain;
    background: #00b200 no-repeat center;
}

.card > .content {
    width: 100%;
    height: 128px;

    position: relative;
    top: 372px;

    color: #efe;
    opacity: 0.7;

    text-align: right;
    line-height: 128px;

    font-size: 7rem;
}

ul.bar {
    width: 100%;
    height: 30px;

    font-size: 0;
    overflow: hidden;
}

ul.bar > li {
    width: 0;
    height: 100%;

    opacity: 0.7;

    display: inline-block;
}

ul.bar > li.blur {
    box-shadow: inset 0 0 3px 3px rgba(255, 255, 255, 0.6);
}
